<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>WithdawalServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.WithdawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.NewClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.NewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewInvestmentServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.NewInvestmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInvestmentServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.AddInvestmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientCardServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.NewClientCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateInvestmentServlet</servlet-name>
        <servlet-class>com.soen.ebanking.servlet.CalculateInvestmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdawalServlet</servlet-name>
        <url-pattern>/WithdawalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientServlet</servlet-name>
        <url-pattern>/NewClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/NewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewInvestmentServlet</servlet-name>
        <url-pattern>/NewInvestmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInvestmentServlet</servlet-name>
        <url-pattern>/AddInvestmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientCardServlet</servlet-name>
        <url-pattern>/NewClientCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateInvestmentServlet</servlet-name>
        <url-pattern>/CalculateInvestmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
